  <div id="newpost">
    <!--<div id="sectionTitle">New Post</div>-->
    <div id="inbputBoxes">
<!--
    <div class="scrollable">
    <div class="scrollable-content section">
-->

      <form ng-submit="addPost()">
          <label>Title</label>
          <textarea ng-model="post_title" class="form-control" rows=1 required placeholder="enter title here" /></textarea><br>
          <label>Content</label>
          <textarea ng-model="post_content" class="form-control" rows=5 required placeholder="enter content here"></textarea><br>
          <button class="newPostBtn" type="submit"> Submit </button>
      </form>
<!--
    </div>
    </div>
-->
    </div>
  </div>


